<div>
    <h2>Hard Skills</h2>
    <div class="container-fluid d-flex flex-wrap flex-sm-wrap flex-md-wrap flex-lg-wrap flex-xl-wrap justify-content-center">
        <div class="row">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FE8B18'"
            [innerStrokeColor]="'#FBB36B'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/HTML.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            ></circle-progress>
        </div>
        <div class="row">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#007EE1'"
            [innerStrokeColor]="'#6FBFFF'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/CSS.png'"
            [imageHeight]="50"
            [imageWidth]="35"
            [showImage]="true"
            ></circle-progress>
        </div>
        <div class="row">
            <circle-progress
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#E41C1C'"
            [innerStrokeColor]="'#FA5151'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/Angular.png'"
            [imageHeight]="55"
            [imageWidth]="55"
            [showImage]="true"
            ></circle-progress>
        </div>
        <div class="row">
            <circle-progress
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FFC300'"
            [innerStrokeColor]="'#FFF251'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/JS.png'"
            [imageHeight]="40"
            [imageWidth]="40"
            [showImage]="true"
            ></circle-progress>
        </div>
        <div class="row">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#797FAB'"
            [innerStrokeColor]="'#AEB5E4'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/Java.png'"
            [imageHeight]="70"
            [imageWidth]="40"
            [showImage]="true"
            ></circle-progress>
        </div>
        <div class="row">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2144AF'"
            [innerStrokeColor]="'#9EA8F1'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/C++.png'"
            [imageHeight]="40"
            [imageWidth]="40"
            [showImage]="true"
            ></circle-progress>
        </div>
        <div class="row">
            <circle-progress
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2E78C8'"
            [innerStrokeColor]="'#6BA0DA'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/MySQL.png'"
            [imageHeight]="40"
            [imageWidth]="70"
            [showImage]="true"
            ></circle-progress>
        </div>
    
    </div>
</div>
<div>
    <h2>Soft Skills</h2>
    <div class="container-fluid d-flex flex-wrap flex-sm-wrap flex-md-wrap flex-lg-wrap flex-xl-wrap justify-content-center">
        <div class="row">
            <h6>Inglés</h6>
            <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#4CD111'"
            [innerStrokeColor]="'#8DDA6B'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/b2.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            ></circle-progress>
        </div>
    </div>
</div>
